html,
body {
    min-height: 100%;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Roboto Light", sans-serif;

}

.login-form {
    margin-top: 5em;
    padding: 1em;
    -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
}

.login-redirect {
    text-align: center;
    margin-top: 1rem;
}

.register-form {
    margin-top: 5em;
    padding: 1em 1em 2em;
    -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #343a40;
    color: #fefefe;
    text-align: center;
}

#delete-image-form {
    display: table-cell;
    vertical-align: middle;
    border: none;
}

#image {
    height: auto;
}
#show-password {
    opacity: 0;
}

#show-password-container {
    display: flex;
    justify-content: end;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-image {
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
    padding: 1rem;
    z-index: -1;
}

/* Masonry container */
.masonry {
    -webkit-column-count: 4;
    -moz-column-count:4;
    column-count: 4;
    margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

.item img{max-width:100%;}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

.table-responsive {
    display: table;
}

