html,
body {
    min-height: 100%;
}

/**
 * Demo Styles
 */

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Roboto Light", sans-serif;
}

.login-form {
    margin-top: 5em;
    padding: 1em;
    -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
}

.login-redirect {
    text-align: center;
    margin-top: 1rem;
}

.register-form {
    margin-top: 5em;
    padding: 1em 1em 2em;
    -webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #343a40;
    color: #fefefe;
    text-align: center;
}

#delete-image-form {
    display: table-cell;
    vertical-align: middle;
    border: none;
}

#image {
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
}
